.quick-book {
  border-color: #337ab7;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding:0 0 10px 0;
  margin: 5%;
  background-color:#E8EFFC;
}
.quick-book > .quick-book-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
 .quick-book-title{
	text-align: center;
}
.quick-book > .quick-book-body {
  border-top-color: #337ab7;
  background-color:#E8EFFC;
}
.quick-book > .quick-book-body {
  border-bottom-color: #337ab7;
}

.short-inputs{
	padding: 10px;
	width: 100%;
}

.short-inputs div{
	display: inline-block;
	vertical-align: top;
}

.quick-book-inputs{
	padding: 5px;
	margin: 2px;
	width: 250px;
}

.long-inputs{
	padding: 10px;
	width: 100%;
}
.long-inputs div{
	display: inline-block;
	vertical-align: top;
	margin: auto;
}
.quick-book-inputs2{
	padding: 5px;
	margin: 2px;
	width: 250px;
}

.quick-book-inputs label, .quick-book-inputs2 label, .quick-book-inputs3 label{
	text-decoration: none;
	size: 16px;
	color: #0C6;
	text-align: center;
}

.quick-book-inputs input, select{
	width: 240px;
}
.quick-book-inputs2 input, select, textarea{
	width: 240px;
}

.quick-book-inputs3{
	padding: 1%;
	margin: auto;
	width: 95%;
}
.quick-book-inputs3 div{
	width: 100%;
	border:solid 1px white;
	border-radius: 5px;
	margin: auto;
}
.quick-book-inputs3 div textarea{
	width: 100%;
	border-radius: 5px;
	padding: 5px;
}

.quick-book-button{
	background-color: #0C6;
	border-radius: 5px;
	margin:auto;
	width: 100px;
	display: block;
}

.quick-book-button-container{
	width: 100%;
}

.rounded-box{
	border: solid 1px #0C6;
	border-radius: 5px;
	padding: 5px;
}

