/*----- Menu Outline -----*/
 
span .menu {
    width:1200px;
    margin:0px auto;
}
 
span.menu a {
    transition:all linear 0.15s;
}
 
span.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.cl-effect-1 > ul > li {
    float:left;
    display:inline-block;
    position:relative;
}
 
/*----- Bottom Level -----*/
.cl-effect-1 li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:150%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    display:block;
}